# IDE
.settings
.classpath
.project
.idea/**
.factorypath
**/*.iml
**/pom.xml.versionsBackup
**/.develocity/**
.vscode/**
.mvn/**

.claude/scheduled_tasks.lock
.claude/*.local.*
.claude/worktrees/


# Build
**/target
**/lib
**/surefire-reports-aggregate
**/dependency-reduced-pom.xml
/.h2Start.sh.swp

**/.DS_Store
**/pure-duckDB-test-Db